extends ../layouts/application

block head
  script(src="assets/js/main.js")
  script(src="assets/js/browser/main.js")

block scriptFooter

block content
  div(ng-controller="BrowserCtrl",
      id="paths-container",
      class="paths" )

    button(id="button-reset",
           class="reset",
           data-path="") Reset

    button(id="button-test",
           class="test",
           data-path="") Test

    p(class="directory current") {{ current.directory.path }}

    div(class="directories")
      button(ng-if="current.directory.parentPath",
             id="directory-parent",
             class="parent directory",
             data-path="{{ current.directory.parentPath }}") &lt;&lt; {{ current.directory.parentName }}

      button(ng-repeat="directory in directories",
             class="directory",
             data-path="{{ directory.path }}") {{ directory.name }}

    button(class="save") Save
