extends ../layouts/application

block head
  script(src="assets/js/main.js")
  script(src="assets/js/browser/main.js")

block scriptFooter

block content
  div(ng-controller="BrowserCtrl",
      id="paths-container",
      class="paths" )

    button(id="button-reset",
           class="directory-reset",
           data-path="") Reset

    button(id="button-test",
           class="directory-reset",
           data-path="") Test

    p(class="directory-current") {{ current.directory.path }}

    button(ng-if="current.directory.parent",
           id="directory-parent",
           class="directory parent",
           data-path="{{ current.directory.parent }}") &lt;&lt; {{ current.directory.parent }}

    button(ng-repeat="directory in directories",
           class="directory",
           data-path="{{ directory.path }}") {{ directory.name }}
